html,
body {
  height: 100%;
  font-size: $baseFontSize;

  @include tablets {
    font-size: $baseFontSize - 2px;
  }

  @include phones {
    font-size: $baseFontSize - 2px;
  }
}

body {
  position: relative;
  font-family: 'Josefin Slab', 'Jost', 'Montserrat', 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  display: flex;
  // overflow: hidden;
  max-width: 1440px;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.maincontent {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 0;
  transition: transform 1s;
  will-change: transform;
}

section {
  border-radius: 10px;
}

.container,
.footer__container {
  position: relative;
  // overflow: hidden;
  width: 93%;
  max-width: $containerWidth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

h1 {
  display: none;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
  }
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: absolute;
  width: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
}

img {
  display: block;
  max-width: 100%;
}
