$containerWidth: 1320px;
$baseFontSize: 16px;

//colors
$grey: #F5F5F5;
$white: #ffffff;
$black: #292929;
$red: #E01F3D;
@import "./style/media";

//z-index

$z-index-fixed-menu: 100;

//normalize
@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"; 

//setups
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&family=Jost:wght@400;600&family=Montserrat:wght@300;500&family=Raleway:wght@300&display=swap');

// font-family: 'Josefin Slab', serif;
// font-family: 'Jost', sans-serif;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Raleway', sans-serif;

@import './style/layout';

//blocks
@import "./style/welcome";
